@tailwind base;
@tailwind components;
@tailwind utilities;


/* Zoom styles for image */
/* Zoom effect styles */
.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%; /* Adjust according to your design */
  overflow: hidden;
  cursor: zoom-in;
}

.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

.zoom img:hover {
  opacity: 0;
}

/* Optional: Apply scaling effect on hover */
.zoom img:hover {
  opacity: 0;
}


